<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orangelabs.tuya2capi.tuya2cApi.business.products.mapping.OrangeProductMapper">
  <resultMap id="BaseResultMap" type="com.orangelabs.tuya2capi.tuya2cApi.business.products.model.OrangeProduct">
    <id column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_path" jdbcType="VARCHAR" property="productPath" />
    <result column="product_price" jdbcType="VARCHAR" property="productPrice" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="product_tags" jdbcType="CHAR" property="productTags" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.orangelabs.tuya2capi.tuya2cApi.business.products.model.OrangeProduct">
    <result column="img_blob" jdbcType="LONGVARBINARY" property="imgBlob" />
  </resultMap>
  <sql id="Base_Column_List">
    product_id, product_name, product_path, product_price, img_url, product_tags, create_time, 
    update_time
  </sql>
  <sql id="Blob_Column_List">
    img_blob
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tuya_iot.orange_product
    where product_id = #{productId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tuya_iot.orange_product
    where product_id = #{productId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyProperty="productId" parameterType="com.orangelabs.tuya2capi.tuya2cApi.business.products.model.OrangeProduct" useGeneratedKeys="true">
    insert into tuya_iot.orange_product (product_name, product_path, 
      product_price, img_url, product_tags, 
      create_time, update_time, img_blob
      )
    values (#{productName,jdbcType=VARCHAR}, #{productPath,jdbcType=VARCHAR}, 
      #{productPrice,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, #{productTags,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{imgBlob,jdbcType=LONGVARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.orangelabs.tuya2capi.tuya2cApi.business.products.model.OrangeProduct">
    insert into tuya_iot.orange_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="productPath != null">
        product_path,
      </if>
      <if test="productPrice != null">
        product_price,
      </if>
      <if test="imgUrl != null">
        img_url,
      </if>
      <if test="productTags != null">
        product_tags,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="imgBlob != null">
        img_blob,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPath != null">
        #{productPath,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null">
        #{productPrice,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="productTags != null">
        #{productTags,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="imgBlob != null">
        #{imgBlob,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.orangelabs.tuya2capi.tuya2cApi.business.products.model.OrangeProduct">
    update tuya_iot.orange_product
    <set>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPath != null">
        product_path = #{productPath,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null">
        product_price = #{productPrice,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="productTags != null">
        product_tags = #{productTags,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="imgBlob != null">
        img_blob = #{imgBlob,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where product_id = #{productId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.orangelabs.tuya2capi.tuya2cApi.business.products.model.OrangeProduct">
    update tuya_iot.orange_product
    set product_name = #{productName,jdbcType=VARCHAR},
      product_path = #{productPath,jdbcType=VARCHAR},
      product_price = #{productPrice,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      product_tags = #{productTags,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      img_blob = #{imgBlob,jdbcType=LONGVARBINARY}
    where product_id = #{productId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.orangelabs.tuya2capi.tuya2cApi.business.products.model.OrangeProduct">
    update tuya_iot.orange_product
    set product_name = #{productName,jdbcType=VARCHAR},
      product_path = #{productPath,jdbcType=VARCHAR},
      product_price = #{productPrice,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      product_tags = #{productTags,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where product_id = #{productId,jdbcType=BIGINT}
  </update>
  
  
  <select id="selectProductByCondition" parameterType="java.util.Map" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tuya_iot.orange_product where 1=1 
    <if test="productName != null">
        and product_name LIKE CONCAT(#{productName},'%')
    </if>
    <if test="path != null">
        and product_path LIKE CONCAT(#{path},'%')
    </if>
  </select>
</mapper>